.container{
    margin: 20px;
    margin-bottom: 50px;
    .top{
        .top-word{
            h1{
                font-family: 'Karla';
                line-height: 1.3;
                font-size: 22px;
                font-weight: 400;
                text-align: center;
            }
            h3{
                font-family: 'Oswald', sans-serif;
                font-size: 40px;
                text-align: center;
            }
        }
        .top-photo{
            .top-photo-img{
                z-index: 10;
            }
            .top-photo-bg{
                z-index: 100;
            }
        }
        p{
            font-family: 'Open Sans', sans-serif;
            text-align: justify;
            text-indent: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .hr{
            margin-top: 30px;
            margin-bottom: 30px;
            height: 1px;
            background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.75),transparent);
        }
    }
    .feedback{
        position: relative;
        h2{
            font-family: 'Karla';
            font-size: 30px;
            text-align: center;
            padding-bottom: 20px;
        }
        .feedback-img{
            position: absolute;
            width: 100px;
            height: 100px;
            top: 70px;
            left: calc(50vw - 100px);
            border-radius: 50%;
            border: 5px solid white;
            background-image: url(/assets/photos/1.jpg);
            background-position: center;
            background-size: cover;
        }
        .feedback-content{
            margin-top: 100px;
            background-color: #dcecfb;
            p{
                font-family: 'Open Sans', sans-serif;
                text-align: center;
                text-indent: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            strong{
                font-family: 'Open Sans', sans-serif;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                font-weight: 700;
            }    
        }
    }
}