html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
}

#header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 110px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* Fade out the second bar */
  /* Rotate last bar */
}

#header .header-logo {
  position: absolute;
  top: 60px;
  left: calc(50vw - 130px);
}

#header .header-logo h1 {
  font-family: 'Wild';
  font-size: 75px;
}

#header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-nav-nav .button {
  cursor: pointer;
  color: #1d1e1f;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  outline: 0;
  border-bottom: 2px solid white;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

#header .header-nav-nav .button:hover {
  color: #60606d;
  border-bottom: 2px solid black;
}

#header .header-nav-nav .activebutton {
  color: #1d1e1f;
  font-weight: 700;
}

#header .header-nav-nav-hid {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #dcecfb;
  height: 100vh;
  padding-top: 20vh;
  z-index: 200;
}

#header .header-nav-nav-hid .button {
  cursor: pointer;
  color: #1d1e1f;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  outline: 0;
}

#header .header-nav-nav-hid .activebutton {
  color: #1d1e1f;
  font-weight: 700;
}

#header .header-nav-nav-hid a {
  display: block;
}

#header .header-nav-burger {
  z-index: 201;
  position: fixed;
  top: 30px;
  right: 40px;
  cursor: pointer;
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */
}

#header .header-nav-burger .bar1, #header .header-nav-burger .bar2, #header .header-nav-burger .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header .header-nav-burger .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#header .header-nav-burger .change .bar2 {
  opacity: 0;
}

#header .header-nav-burger .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#header .change .bar2 {
  opacity: 0;
}

#header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#body {
  border-top: 5px solid #dcecfb;
  padding: 10px;
  padding-bottom: 90px;
  /* Height of the footer */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  /* Height of the footer */
  width: 100%;
  background-color: #dcecfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#footer .footer-contact {
  width: 30px;
  height: 30px;
}

#footer .footer-contact img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=app.component.css.map */