html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 110px;
    // background-color: #dcecfb;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    .header-logo{
        position: absolute;
        top: 60px;
        left: calc(50vw - 130px);
        h1{
            font-family: 'Wild';
            font-size: 75px;
            
        }
    }
    .header-nav{
        display: flex;
        align-items: center;
        }
        .header-nav-nav{
          .button {
              cursor: pointer;
              color: #1d1e1f;
              font-family: 'Karla', sans-serif;;
              font-size: 15px;
              padding: 6px 24px;
              text-decoration: none;
              outline: 0;
              border-bottom: 2px solid white;
              transition: .15s ease-in-out;
          }
          .button:hover{
              color: #60606d;
              border-bottom: 2px solid black;
          }
          
          .activebutton {
              color: #1d1e1f;
              font-weight: 700;
          }  
        }
      .header-nav-nav-hid{
            position: fixed;
            top: 0;
            right: 0;
            background-color: #dcecfb;
            height: 100vh;
            padding-top: 20vh;
            z-index: 200;
            .button {
              cursor: pointer;
              color: #1d1e1f;
              font-family: 'Karla', sans-serif;;
              font-size: 15px;
              padding: 6px 24px;
              text-decoration: none;
              outline: 0;
          }
          .activebutton {
              color: #1d1e1f;
              font-weight: 700;
          }  

          a{
            display: block;
          }  
      } 
      .header-nav-burger{
        z-index: 201;
        position: fixed;
        top: 30px;
        right: 40px;
            cursor: pointer;
            .bar1, .bar2, .bar3 {
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
              }
              
              /* Rotate first bar */
              .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
                transform: rotate(-45deg) translate(-9px, 6px) ;
              }
              
              /* Fade out the second bar */
              .change .bar2 {
                opacity: 0;
              }
              
              /* Rotate last bar */
              .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
                transform: rotate(45deg) translate(-8px, -8px) ;
              }
        }
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
          }
          
          /* Fade out the second bar */
          .change .bar2 {
            opacity: 0;
          }
          
          /* Rotate last bar */
          .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
          }

    }
#body {
  border-top: 5px solid #dcecfb;
  padding:10px;
   padding-bottom:90px;   /* Height of the footer */
  //  background-image: linear-gradient(to bottom, rgba(220, 236, 251, 0), rgba(220, 236, 251, 1) );
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:90px;   /* Height of the footer */
   width: 100%;
   background-color: #dcecfb;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   .footer-contact{
     width: 30px;
     height: 30px;
     img{
       width: 100%;
       height: auto;
     }
   }

}

